html {
  font-size: 18px;
}
body {
}

header {
  background-color: black;
  height: auto;
  width: 100%;
  color: white;
}

.container {
  width: 960px;
  display: block;
  border: 1px solid red;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: auto;
  border: 1px solid red;
}

.logo img {
  margin: 0 1rem 0 0.5rem;
  height: 1.5rem;

}

.logo h1 {
  display: inline-block;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  font-weight: bold;
  font-family: Helvetica;

}


/*<!-- *****************Background photo - main content****************-->*/

.background {
  height: 30rem;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
}

.promo-box {
  width: 20rem;
  background-color: black;
  color: white;
  margin-top: 9rem;
  display: block;
  padding: 2rem 3rem;
}

.promo-box h3 {
  padding-bottom: 0.25rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
}

.promo-box h2 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}


/*<!--********************Navigation bar *********************-->*/

.navigation {
  background-color: firebrick;
  padding: 0.75rem 0;
  display: block;
  display: flex;
  justify-content: center;
  color: white;
}

.list {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


/*<!--************************* GALLERY **************************-->*/

.gallery {
  width: 960px;
  height: auto;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cell {
  display: block;
  width: 30%;
}

.image {
  align-items: center;
  border: 4px solid black;
  display: flex;
  height: 162px;
  justify-content: center;
  padding: 2rem;
}

div.cell img {
  max-width: 9rem;
  max-height: 9rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  object-fit: contain;

}

.cell span {
  display: block;
  background-color: black;
  padding: 0.6rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}



/*********************** CONTACTS & LOCATION ***********************/

.block {
  width: 960px;
  height: auto;
  margin: 3rem auto 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.celltwo {
  display: block;
  width: 35%;
}

.location {
  display: block;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-bottom: 0.3rem;
  padding: 1rem 2rem;
}

.hours {
  display: block;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-bottom: 0.3rem;
}


/***************** FOOTER ************************/

footer {
  display: block;
  background: black;
  color: white;
  height: 5rem;
  width: 100%
}

.copytext {
  width: 960px;
  margin: 0 auto;
  padding-top: 2rem;
}
