html {
  font-size: 18px;
}
body {
}

header {
  background-color: black;
  height: auto;
  width: 100%;
  font-family: Helvetica;
  color: white;
}

.container {
  width: 960px;
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: auto;
  border: 1px solid red;
}

.logo img {
  margin: 0 1rem 0 0.5rem;
  height: 1.5rem;

}

.logo h1 {
  display: inline-block;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}


/*<!-- *****************Background photo - main content****************-->*/

.background {
  height: 25rem;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
}

.promo-box {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  width: 20rem;
  height: auto;
  background-color: black;
  color: white;
  margin-top: 9rem;
}

.promo-box h3 {
  margin: 2rem 0 0 3rem;
}

.promo-box h2 {
  margin: 2rem 0 0 3rem;

}
